@page "/"

<PageTitle>SourceNotes</PageTitle>

<!--HEADERS-->
<br>
<center><img src="Images/source-notes-large-white.png" width="800"/></center>
<br><br><br>


    <!--ABOUT PARAGRAPH-->
    <div class="container" id="aboutSourceNotes">
        <p class="promocopynew">SourceNotes is an online program to facilitate research in the humanities for scholars, students, and the general public. 
           Developed by scholars at Miami University and the University of Oklahoma, the platform helps researchers organize their notes from primary and secondary sources.
           It also, if users wish, allows them to work collaboratively, to lead group research projects with students, and to share annotations with others, 
           either during the research process or long after it is completed.
        </p>
        <p class="promocopynew">The idea of collaborative research, teaching, and note organization initially came to two separate teams at different universities, but once these teams realized they were working towards the same goal,
           they joined forces in the spring of 2017 to form SourceNotes.
        </p>
    </div>

    <br><br>
    <center><hr width="80%" height="1" color="#DFDFDF" /></center>
    <br><br>

    <!--INVESTIGATORS INFORMATION-->
    <div class="container" id="principalInvestigators">
        <div class="row">
            <div class="col-sm-12">
                <p class="boardheader">PRINCIPAL INVESTIGATORS</p>
            </div>
        </div>
        <div class="row"> 
            <div class="col-lg" align="center">
                <p class="board"><b style="color: #000000;">Raphael Folsom</b><br>University of Oklahoma</p>
            </div>
            <div class="col-lg" align="center">
                <p class="board"><b style="color: #000000;">Andrew Offenburger</b><br>Miami University</p>
            </div>
            <div class="col-lg" align="center">
                <p class="board"><b style="color: #000000;">John Stewart</b><br>University of Oklahoma</p>
            </div>
        </div>
        <br><br>
    </div>
    
    <!--BOARD INFORMATION-->
    <div class="container" id="internalAdvisoryBoard">
        <div class="row">
            <div class="col-sm-12">
                <p class="boardheader">INTERNAL ADVISORY BOARD</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" align="center">
                <p class="board"><b style="color: #000000;">Peter Barker</b><br>Professor of the History of Science<br>University of Oklahoma</p>
            </div>
            <div class="col-md-4" align="center">
                <p class="board"><b style="color: #000000;">Kathleen Crowther</b><br>Associate Professor of the History of Science<br>University of Oklahoma</p>
            </div>
            <div class="col-md-2"></div> 
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" align="center">
                <p class="board"><b style="color: #000000;">Brooke Hadley</b><br>Graduate Student of History<br>University of Oklahoma</p>
            </div>
            <div class="col-md-4" align="center">
                <p class="board"><b style="color: #000000;">Joshua Mika</b><br>Graduate Student of History<br>University of Oklahoma</p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" align="center">
                <p class="board"><b style="color: #000000;">Brendan Thomas</b><br>Graduate Student of History<br>University of Oklahoma</p>
            </div>
            <div class="col-md-4" align="center">
                <p class="board"><b style="color: #000000;">Steven Conn</b><br>W.E. Smith Professor of History<br>Miami University</p>
            </div>
            <div class="col-md-2"></div> 
        </div>    
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" align="center">
                <p class="board"><b style="color: #000000;">Zachary Logsdon</b><br>Graduate Student of History<br>Miami University</p>
            </div>
            <div class="col-md-4" align="center">
                <p class="board"><b style="color: #000000;">Madeline Phaby</b><br>Undergraduate Student<br>Miami University</p>
            </div>
            <div class="col-md-2"></div> 
        </div>    
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" align="center">
                <p class="board"><b style="color: #000000;">Hannah Ritter</b><br>Undergraduate Student<br>Miami University</p>
            </div>
            <div class="col-md-4" align="center">
                <p class="board"><b style="color: #000000;">Helen Sheumaker</b><br>Associate Teaching Professor<br>Miami University</p>
            </div>
            <div class="col-md-2"></div> 
        </div>      
    </div>

    <br><br>
    <center><hr width="80%" height="1" color="#DFDFDF" /></center>
    <br><br>

    <!--YOUTUBE VIDEO-->
    <div class="container" align="center">
        <iframe width="560" height="315" align="center" src="https://www.youtube.com/embed/FNzaZKs372k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br><br><br>

    <!--FOOTER-->
    <div class="container" id="aboutImageFooter">
        <div class="row">
            <div class="col-md-12" align="center">
                <img src="Images/ou-logo.gif" height=60 />&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="Images/miami-logo.jpg" height=60 />
                <br><br><br>
                <font style="font-size:18px; font-family: 'EB Garamond', serif;">
                    SourceNotes: A Collaboration between the University of Oklahoma and Miami University<br><br>
                </font>
                <font style="font-size:16px; font-family: 'EB Garamond', serif; line-height: 0px;">
                    <u>Supported by</u><br>
                    OU Department of History<br>
                    MU Department of History<br>
                    MU Humanities Center<br>
                    MU Center for Teaching Excellence<br>
                </font>
                <br><br>
            </div>
        </div>
    </div>



@code {

}